<div id="headcont"class="container">
  <div id="heading" class="jumbotron">
    <h1 class="display-3">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      Hospital Overview
    </h1>
    <p class="lead">St. Generic's Hospital Database</p>

    <p>
    Welcome to the Hospital Database!  Please use the buttons below to manage and search data on the individual hospital tables.
    </p>
    <a href="/doctors">
      <button type="button" class="btn btn-outline-dark">
        Manage Doctors
      </button>
    </a>
    <a href="/patients">
      <button type="button" class="btn btn-outline-dark">
        Manage Patients
      </button>
    </a>
    <a href="/departments">
      <button type="button" class="btn btn-outline-dark">
        Manage Departments
      </button>
    </a>
    <a href="/specialty">
      <button type="button" class="btn btn-outline-dark">
        Manage Specialties
      </button>
    </a>
    <a href="/diagnosis">
      <button type="button" class="btn btn-outline-dark">
        Manage Diagnosis
      </button>
    </a>
    <a href="/addresses">
      <button type="button" class="btn btn-outline-dark">
        Manage Addresses
      </button>
    </a>
    <a href="/query">
      <button type="button" class="btn btn-outline-dark">
        Search Database
      </button>
    </a>
  </div>
</div>
