<div id="headcont"class="container">
  <div id="heading" class="jumbotron">
    <h1 class="display-3">
      <i class="fa fa-pencil-square" aria-hidden="true"></i>
      Update Specialty
      {{#each specialty}}
        <em>{{this.name}}</em>
    </h1>
    <hr class="my-4">
    <form id="specialtyupdate" action="/specialty:{{sid}}" method="post">
      <div class="row">
        <div class="col-md-4 mb-3"></div>
        <div class="col-md-4 mb-3">
          <label for="validationServer01">Update Specialty Name</label>
          <input type="text" class="form-control is-invalid" id="validationServer01" name="specialty_name_update" value="{{this.name}}" placeholder="Enter Specialty Name" required>
          <div class="invalid-feedback">
            Specialty Name Required
          </div>
        </div>
        <div class="col-md-4 mb-3"></div>
      </div>
      <button class="btn btn-dark" type="submit" value="Submit">Update Specialty</button>
    </form>
  </div>
</div>
      {{/each}}
